Source: reicast
Section: games
Priority: optional
Maintainer: Oleg Asonov <oleg.asonov@flant.ru>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.8.4
Homepage: http://zenninja.ru

Package: reicast
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, zenity, python3, libasound2, libegl1-mesa, libgles2-mesa
Description: Dreamcast, in your pocket
 reicast is a sega dreamcast emulator for linux !
 
